.clients {
	padding-top: 100px;
	padding-bottom: 70px;
}
.clients__container {
}
.clients__title {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.6;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	margin-bottom: 44px;
}
.slider-clients {
	position: relative;
}
.slider-clients::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 10%;
	height: 100%;
	background: linear-gradient(90deg, #0d0d11 8%, rgba(0, 0, 0, 0) 100%);
	z-index: 2;
}
.slider-clients::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 10%;
	height: 100%;
	background: linear-gradient(-90deg, #0d0d11 8%, rgba(0, 0, 0, 0) 100%);
	z-index: 2;
}
.slider-clients__slide {
	text-align: center;
}
.swiper-clients__slide img {
	max-width: 100%;
}
.slider-clients .slider-clients__wrapper {
	transition-timing-function: linear;
}
@media (max-width: 991.98px) {
	.clients {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.clients__title {
		margin-bottom: 30px;
	}
}
@media (max-width: 767.98px) {
	.clients {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.clients__title {
		margin-bottom: 20px;
	}
}