.start {
}
.start__container {
}
.start__body {
	display: flex;
	align-items: center;
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
	gap: 20px;
	padding: 52px 40px;
}
.start__column {
	flex: 0 1 50%;
	text-align: center;
}
.start__content {
	max-width: 375px;
	margin: 0 auto;
}
.start__title {
	font-weight: 400;
	font-size: 32px;
	line-height: 1.4;
	color: #fff;
}
.start__title:not(:last-child) {
	margin-bottom: 15px;
}
.start__text {
}
.start__actions {
	display: flex;
	gap: 20px;
	justify-content: center;
}
.start__button {
}
.button {
}
.button_dark {
}
@media (max-width: 767.98px) {
	.start__body {
		flex-direction: column;
		padding: 30px 25px;
	}
	.start__content {
		max-width: none;
	}
	.start__actions {
		display: flex;
	}
}
@media (max-width: 479.98px) {
	.start__body {
		align-items: stretch;
	}
	.start__actions {
		flex-direction: column;
	}
}