.why {
	padding-top: 100px;
	padding-bottom: 100px;
}
.why__container {
	display: flex;
	column-gap: 64px;
	row-gap: 32px;
}
.why__images {
	flex: 0 1 50%;
}
.images-why {
	display: flex;
	position: relative;
	align-self: flex-end;
}
.images-why__item {
	overflow: hidden;
}
.images-why__item img {
	transform: scale(1.01);
	max-width: 100%
}
.images-why__item_green {
	border-radius: 90% 0 50% 50% / 50% 0 30% 30%;
}
.images-why__item_orange {
	align-self: flex-end;
	border-radius: 50% 50% 50% 0;
}
.why__content {
	flex: 0 1 50%;
	align-self: center; 
}
.why__header {
}
.images-why::before {
	content: "";
	background: url("../img/decor.svg") 0 0 / 100% no-repeat;
	width: 122px;
	height: 122px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
@media (max-width: 991.98px) {
	.why {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
@media (max-width: 767.98px) {
	.why {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.why__container {
		flex-direction: column-reverse;
	}
	.images-why {
		align-self: center;
	}
}